.login-dark {
  height: 100vh;
  overflow: hidden; /* Prevents scrolling */
  background: url('/images/background-login-register.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -58%);
  padding: 20px; /* Add padding for spacing */
  width: 42%;
}

.login-dark form {
  position: relative;
  padding: 40px;
  border-radius: 20px;
  color: #000;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.login-dark form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(246, 246, 251, 0.86);  /* Semi-transparent background */
  border-radius: 20px;
  z-index: -1;  /* Keep it behind the form content */
}

.login-dark form .form-control {
  background-color: #fff; /* Set the background of the input field to white */
  border-radius: 4px;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.login-dark form .form-control:focus {
  border-color: #214a80; /* Optional: Add focus color for input */
}

.login-dark form .btn {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  width: 100%; /* Make buttons full width */
  text-shadow: none;
  outline: none;
}

.login-dark form .btn-primary {
  background: rgba(35, 44, 108, 1);
  border: none;
  border-radius: 4px;
}

.login-dark form .btn-reset {
  border: 1px solid rgba(211, 211, 211, 1);
  border: none;
  border-radius: 4px;
}

.login-dark form .btn-primary:hover,
.login-dark form .btn-primary:active {
  background: #214a80;
  outline: none;
}

.login-dark form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-dark form .forgot:hover,
.login-dark form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-dark form .btn-primary:active {
  transform: translateY(1px);
}
